<strong>Olá, {{ deliveryman }}</strong>
<p>{{message}}</p>
<p>
  <strong>Data/Hora saída: </strong>{{start_date}} <br />
  <strong>Cliente: </strong>{{recipient}} <br />
  <strong>Endereço: </strong>{{address}} <br />
  <strong>Complemento: </strong>{{complement}} <br />
  <br />
  <small>
    Não esqueça de informar a data da entrega.
  </small>
</p>
